.stats-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  padding: 0 1rem;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.stat-card {
  border: 1px solid #4e342e;
  background-color: white;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stat-card h3 {
  color: #4e342e;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-family: "Inter", sans-serif;
}

.stat-card .value {
  font-size: 2rem;
  color: #bf360c;
  font-weight: bold;
}

.filter-bar {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.filter-btn {
  background-color: white;
  color: #4e342e;
  border: 1px solid #4e342e;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Inter", sans-serif;
}

.filter-btn:hover {
  background-color: #f7f3e8;
}

.filter-btn.active {
  background-color: #bf360c;
  color: white;
  border-color: #bf360c;
}
