* {
  margin: 0;
  padding: 0;
}

header {
  height: 200px;
  background-image: url("../Resources/ExquiTableLogoTransparent.png");
  background-size: 20%;
  background-position: left;
  background-repeat: no-repeat;
  background-color: #f7f3e8;
}

body {
  background-color: #f7f3e8;
  font-family: "Inter", sans-serif;
}

footer {
  padding-top: 300px;
  font-size: 2rem;
  text-align: right;
  padding-right: 2rem;
}

.cardDashboard {
  height: 45rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  position: relative;
  text-align: center;
  padding: 3rem;

  background-image: url("../Resources/doodleBackgroundEdited.png");
  background-size: auto;
  border: 2px solid black;
  border-radius: 3px;

  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);

  z-index: 5;
}

.overlay {
  background-color: rgb(255, 255, 255, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}

.text {
  position: relative;
  z-index: 2;
  margin: auto;
}

.textBookings {
  position: relative;
  z-index: 3;
}

.bookings {
  margin: 4rem 3rem;

  height: auto;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  text-align: center;
  position: relative;
  padding-bottom: 3rem;
  padding-left: 1.2rem;

  background-image: url("../Resources/doodleBackgroundEdited.png");
  background-size: auto;
  background-repeat: repeat;
  border: 2px solid black;
  border-radius: 3px;

  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);

  z-index: 5;
}

.searchFilter {
  margin-left: 25rem;
  margin-top: 2rem;
}

.search-container {
  display: flex;
}
.searchBar {
  flex-grow: 1;
  font-size: 1.5rem;
  height: 3.4rem;
  width: 30rem;

  padding: 0.8rem;
  border: 1px solid #4e342e;
}

.btnGo {
  color: #f7f3e8;
  background-color: #bf360c;
  font-size: 1.5rem;
  padding: 0.8rem;
  border: none;
}

.btnGo:hover {
  background-color: #e23d0a;
  cursor: pointer;
}

.filterContainer {
  margin-top: 2rem;
}

.sortOptions {
  font-size: 1.5rem;
  padding: 0.8rem;
  border: 1px solid #795548;
  border-radius: 3px;
  background-color: white;
  width: 15rem;
}

.showOnlyToday {
  margin-left: 5rem;
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: middle;
}

.filterContainer label {
  font-size: 2rem;
  color: #3e2723;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.h1Dashboard {
  padding-bottom: 10rem;
  font-size: 5rem;
  color: #4e342e;
}

.Btndashboard {
  font-size: 3rem;
  padding: 1.2rem;
  margin: 0.4rem 1rem;
  width: 40rem;
  color: #f7f3e8;
  background-color: #5e3830;
}

.Btndashboard:hover {
  background-color: #79443a;
  cursor: pointer;
}

.btnToDashboard {
  color: #f7f3e8;
  background-color: #5e3830;
  font-size: 1.8rem;
  padding: 0.8rem;
  margin: 0;
  float: left;
}

.btnToDashboard:hover {
  background-color: #79443a;
  cursor: pointer;
}

a {
  color: #f7f3e8;
  text-decoration: none;
}

.reservationCard {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border: 2px solid black;
  border-radius: 3px;
  background-color: rgb(255, 248, 235);
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
  text-align: left;
  padding: 2rem;
}

.reservationCard p {
  font-size: 2rem;
}

.reservationCard p.details {
  font-size: 2rem;
  font-style: italic;
}

.reservationCard h1 {
  margin-bottom: 0.8rem;
  font-weight: bold;
  font-size: 2.7rem;
}

.reservationCard hr.nameDivider {
  margin-bottom: 1rem;
  height: 2px;
  font-weight: bold;
  background-color: black;
  width: 70%;
}

.reservationCard hr {
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  height: 1px;
  width: 70%;
}

.reservationCard button.btnComplete {
  color: #f7f3e8;
  background-color: #5e3830;
  font-size: 1.8rem;
  padding: 0.5rem;
  margin-top: 1rem;
}

.reservationCard button.btnModify {
  color: #ffffff;
  background-color: #b7a196;
  border: none;
  font-size: 1.8rem;
  padding: 0.8rem;
  margin-top: 1rem;
  float: right;
  margin-right: 1rem;
  margin-bottom: 3rem;
}

.reservationCard button.btnDelete {
  color: #ffffff;
  background-color: #b7a196;
  border: none;
  font-size: 1.8rem;
  padding: 0.8rem;
  margin-top: 1rem;
  float: right;
}

.reservationCard button.btnDelete:hover {
  background-color: #a78a7b;
  cursor: pointer;
}

.reservationCard button.btnModify:hover {
  background-color: #a78a7b;
  cursor: pointer;
}

.reservationCard button.btnComplete:hover {
  background-color: #79443a;
  cursor: pointer;
}

.btnAddBooking {
  margin-top: 2rem;
  color: #f7f3e8;
  background-color: #bf360c;
  font-size: 2.5rem;
  padding: 1.5rem;
  border: none;
}

.btnAddBooking:hover {
  background-color: #e23d0a;
  cursor: pointer;
}

.popupOverlay {
  display: none;
  position: fixed;
  height: 50rem;
  width: 50rem;
  z-index: 1;
  margin: auto;
  margin-top: 5rem;
  padding: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #efe5d9;
  border: 2px solid black;
  border-radius: 3px;
  box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.popupContent {
  color: #4e342e;
  font-size: 1.8rem;
}

.popupContent form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 1.5rem;
  column-gap: 2rem;
  align-items: center;
}

.popupContent input {
  width: 100%;
  height: 3.5rem;
  padding: 0.5rem;
  font-size: 1.6rem;
  border: 1px solid #4e342e;
  background-color: white;
  box-sizing: border-box;
}

.newReservation {
  text-align: center;
  grid-column: 1 / -1;
  margin-bottom: 3rem;
  font-size: 3rem;
  color: #4e342e;
}

.formButtons {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

input.btnSubmit {
  margin-top: 2rem;
  color: #f7f3e8;
  background-color: #bf360c;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border: none;
  margin: 0;
}

input.btnSubmit:hover {
  background-color: #e23d0a;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btnBookingDone {
  margin-top: 1.2rem;
  color: #5e3830;
  background-color: transparent;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border: none;
  margin: 0;
}

.btnBookingDone:hover {
  background-color: #5e3830;
  color: #f7f3e8;
  cursor: pointer;
}

.seatingChart {
  margin: 4rem 3rem;

  height: auto;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  text-align: center;
  position: relative;
  padding-bottom: 3rem;
  padding-left: 1.2rem;

  background-image: url("../Resources/doodleBackgroundEdited.png");
  background-size: auto;
  background-repeat: repeat;
  border: 2px solid black;
  border-radius: 3px;

  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);

  z-index: 5;
}

.textSeatingChart {
  position: relative;
  z-index: 3;
}
