* {
  margin: 0;
  padding: 0;
}

header
{
  height: 200px;
  background-image: url("ExquiTableLogoTransparent2.png");
  background-size: 20%;
  background-position: left;
  background-repeat: no-repeat;
  background-color: #F7F3E8; 

  /* border-bottom: 3px solid black;  */
}

body
{
  background-color: #F7F3E8; 
}

footer
{
  padding-top: 300px;
  font-size: 2rem;
  text-align: right;
  padding-right: 2rem;
}

.cardDashboard
{
  height: 45rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;

  padding: 3rem;

  background-color: white;
  border: 2px solid black;
  border-radius: 3px;

  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);

  text-align: center;
}


.h1Dashboard
{
  padding-bottom: 10rem;
  font-size: 5rem;
  color: #4E342E;
}

.Btndashboard
{
  font-size: 3rem;
  padding: 1.2rem;
  margin: 0.4rem 1rem;
  width: 40rem;
  color: #F7F3E8; 
  background-color: #5e3830;
}

.Btndashboard:hover
{
  background-color: #79443a;
  cursor: pointer;
}

a {
  color:  #F7F3E8; 
  text-decoration: none;
}
